.header  {
  font-family: monospace;
  background: papayawhip;
  margin: 4px;
  padding: 4px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  border: 2px solid black;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* this removes the indentation on the list items*/
  margin-left: 0;
  padding-left: 0;

  display: flex;
  border: 2px solid red;
}

a {
  font-size: 22px;
  background: white;
  padding: 0.25em .15em;
  /* this removes the line under the links */
  text-decoration: none;
  border: 2px solid green;
}

.left-links {
  border: 2px solid black;
  justify-content: flex-end;
}

.right-links {
  border: 2px solid black;
}
